/bin
/obj
/_ReSharper.OakIdeas.EBook
OakIdeas.EBook.1.1.dotCover
OakIdeas.EBook.5.1.ReSharper.user
OakIdeas.EBook.6.1.ReSharper.user
OakIdeas.EBook.sln.docstates.suo
OakIdeas.EBook.sln.DotSettings.user
OakIdeas.EBook.suo